{% extends "layout.html" %}

{% load widget_tweaks %}

{%block title%}
 Register
 {%endblock%}

 {%block content%}
 
 {% load static %}

 <link rel="stylesheet"  href="{% static 'bootstrap/css/register.css' %}">
 
 <div class="register-page">
 
     <div class="form">
       <form id="register-form" class="register-form" method="POST" action="">
         {% csrf_token %}
         <h2 class="text-center">РЕЄСТРАЦІЯ</h3>
          <div class="mb-3">
            <label for="id_username" class="form-label">Псевдонім</label>
            {{form.username|add_class:"form-control"|attr:"placeholder:Введіть нікнейм"}}
          </div>
          <div class="mb-3">
            <label for="id_email" class="form-label">Електронна пошта</label>
            {{form.email|add_class:"form-control"|attr:"placeholder:smsm@gmail.com"}}
          </div>
          <div class="mb-3">
            <label for="id_first_name" class="form-label">Ім’я</label>
            {{form.first_name|add_class:"form-control"}}
          </div>
          <div class="mb-3">
            <label for="id_last_name" class="form-label">Прізвище</label>
            {{form.last_name|add_class:"form-control"}}
          </div>
          <div class="mb-3">
            <label for="id_password1" class="form-label">Пароль</label>
            {{form.password1|add_class:"form-control"}}
          </div>
          <div class="mb-3">
            <label for="id_password2" class="form-label">Підтвердження пароля</label>
            {{form.password2|add_class:"form-control"}}
          </div>
         <div class="but">
          <button class="btn btn-outline-success" type="submit"> Зареєструватись </button>
        </div>
         <p class="message">Вже зареєстровані? <a href={% url 'users:login' %}> Вхід</a></p>
         </form>
         {{ form.errors }}
     </div>
 
   </div>

   <script>
      const form = document.getElementById('register-form');
      const password = document.getElementById('id_password1');
      const confirmPassword = document.getElementById('id_password2');
    
      form.addEventListener('submit', function (event) {
        if (password.value !== confirmPassword.value) {
          confirmPassword.setCustomValidity("Паролі не співпадають.");
        } else {
          confirmPassword.setCustomValidity("");
        }
        
  
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
      });
   </script>
 {%endblock%}